html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: "Montserrat", sans-serif;
    background-image: url("../images/landscape.jpg");

}

.body--darkMode {
    background-image: url("../images/darkMode.jpg");
    background-position: center;
}


.header {
    text-align: center;
    color: teal;
    margin: 35px 0;
    font-size: 26px;

}